body{
  font-family: Verdana;
  background-color: #d05c62;
}



p {
  font-family: Verdana;
  color:white;
}

.card-text{
  color: black;
}

.suite{
  color: black;
}
/*.container {

  background-color:#f3671f;
  border-radius: 15px 10px 15px 10px;
  border-style: groove;
}*/

h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.bienvenue{
  color:white;
}

h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px;
}

.ajout{
  margin-bottom: 17px;
}

.reservation{
  background-color: #f3671f;
}

.containe{
  background-color: #f3671f;
}

#jumbo{
  background-color: #f3671f;
}

.formInsc{
  background-color: #f3671f;
}

.liens{
  font-family: Verdana;
  color:#d05c62;
}

.gui{
  background-color: #e9ecef;
}

#foot{
  color:white;
}

.foot{
  background-color: #d05c62;
}

.liens:hover{
  font-family: Verdana;
color:#f3671f;
}

.btn{
background: #d05c62;
color:white;
font-family: Verdana;
}

.btn:hover{
  background-color: #d05c62;
  color:white;
}

.form{
  background-color:#d05c62;
  font-family: Verdana;
  margin-top: 10px;
}