body{
  font-family: Verdana;
  background-color: #e9ecef;
}

p {
  font-family: Verdana;
  color:black;
}

.card-title{
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.card-text{
  color: white;
  text-align: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-subtitle{
  text-align: left;
  color: white;
}

.card{
  margin-bottom: 20px;
}

.card-body{
  background-color: #f3671f;
}

.card.card-body{
  background-color: white;
}

#titre{
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

#titreCarte{
  color: white;
}

.suite{
  color: black;
}
/*.container {

  background-color:#f3671f;
  border-radius: 15px 10px 15px 10px;
  border-style: groove;
}*/

h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.bienvenue{
  color: #f3671f;
  font-family: 'Roboto', sans-serif;
}

.supprime{
  background-color: white;
}

h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 20px;
  color: grey;
}

h4{
  text-align: center;
  color: grey;
}

.ajout{
  margin-bottom: 17px;
}


.liens{
  font-family: Verdana;
  color: #f3671f;
 font-size: 12px;
}

.gui{
  background-color: #e9ecef;
}

#foot{
  color:white;
}


.liens:hover{
  font-family: Verdana;
color: #d05c62;
}

.btn{
background: #d05c62;
color:white;
font-family: Verdana;
}

.btn:hover{
  background-color: #d05c62;
  color:white;
}

.form{
  background-color:#e9ecef;
  font-family: Verdana;
  margin-top: 10px;
}

/* Pour supprimer le register

.at-signup-link { 
  display: none; 
}  */